/*Diary*/


.ddiary {width: 600px; height: 380px;  overflow: hidden; margin: auto; transition: .5s all;} 
.img_diary {object-fit: cover; width:600px; opacity: 1; transition: .5s all; position: relative; z-index: 7;} 
.ddiary:hover .img_diary {opacity: 0; z-index: 1; margin-top: -700px ;} 
.contentd {height: 400px; position: relative; z-index: 4; padding: 5%; box-sizing: border-box;} 
.interieur {background-color: var(--color-bg3); box-sizing: border-box; padding: 5%;   text-align: justify; width: 100%; height: 330px; overflow: auto; }    

.moodb {
   width: 540px;
  height: 200px;
  overflow: auto;
    background-color: var(--bg1);
    font-size: var(--normal-size);
    text-align: justify;
    padding: 35px;
    margin: auto;
    line-height: 20px;
    border: 15px solid var(--bg2);
}
 .moodb div{
   width: 540px;
  height: 400px;
  overflow: auto;
    background-color: var(--bg1);
    margin: auto;
    border: 15px solid var(--bg2);
} 


.moodb td img {
  max-width: 30%;
  max-height: 35%;
  margin: 5px;
}

.smsimg {width: 50px;height: 50px;margin: auto;border-radius: 100%;object-fit: cover;}
.sms {background-color: none;background-image: url('https://www.zupimages.net/up/23/41/ucsd.png');background-repeat: no-repeat;width: 400px;height: 800px;margin: auto;}
.scrollsms {font-size: 14px;text-align: justify;width: 300px;height: 530px;overflow: auto;padding: 25px;}
.texto {    margin: auto; background-color: var(--bg2);border-radius: 30px;border: 3px solid var(--bg1);padding: 12px;}
.texto2 {margin: auto;background-color: var(--bg3);border-radius: 30px;border: 3px solid var(--bg1);padding: 12px;}
